.banner {
  background-image: url("./images/banner.png");
}

.banner-text {
  margin-top: 120px;
  position: absolute;
  text-transform: uppercase;
  color: white;
  font-family: Neue Montreal;
  font-size: 120px;
  font-weight: 700;
  line-height: 130px;
  letter-spacing: 0em;
  text-align: center;
}

.rating-text {
  margin-bottom: -20px;
}

.leadership {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: space-evenly;
  /* align-items: center; */
  /* text-align: center; */
}

.leadership img {
  width: 30px;
}

/* .leadership p {
  margin-top: 10px;
} */

hr {
  background-color: #e5e5e5 !important;
  backdrop-filter: blur(27px) !important;
  height: 10px;
  border: 0;
}
